#rooms-list-wrapper {
  padding: 1%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rooms-list-wrapper > h1 {
  font-size: 3rem;
}

#create-room {
  margin-top: 3%;
  width: 25%;
}

#rooms-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
}

.room-item {
  height: 200px;
  width: 200px;
  margin-right: 3%;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-item > .room-item-name {
  align-self: center;
  max-width: 200px;
  overflow-wrap: break-word;
}

.room-item > button {
  padding-bottom: 10px;
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
  align-self: center;
  margin-bottom: 10px;
}